<script
  src="https://npm.elemecdn.com/nprogress@0.2.0/nprogress.js"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://npm.elemecdn.com/nprogress@0.2.0/nprogress.css"
  crossorigin="anonymous"
/>
<script>
  NProgress.start();
  document.addEventListener("readystatechange", () => {
    if (document.readyState === "interactive") NProgress.inc(0.8);
    if (document.readyState === "complete") NProgress.done();
  });
</script>
<script
    src="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/js/ribbon.min.js"
    integrity="sha384-UEK8ZiP3VgFNP8KnKMKDmd4pAUAOJ59Y2Jo3ED2Z5qKQf6HLHovMxq7Beb9CLPUe"
    crossorigin="anonymous"
    size="300"
    alpha="0.6"
    zindex="-1"
    defer
></script>
